


        <!--loop image from folder-->
        {% for img in listdir %}
        <div id="loop" class="col-md-3 col-sm-4 col-lg-2 col-xs-6 movie-tile text-center" data-trailer-youtube-id="KYz2wyBy3kc" data-toggle="modal" data-target="#trailer">
            <img src="{{ dirname }}{{ img }}" width="170" height="260">
            <h5>Movie</h5>

        </div>

        {% endfor %}
        <!-- end loop image from folder-->
        <!--  result   -->
        <!-- end result   -->

    <!--  result button  -->

    <!-- end result button  -->

    <!-- pagination  -->
    <!-- end pagination  -->


























