{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <div class="row">
            <label class="control-label">Username</label>
            <input class="form-control" type="text" name="username" placeholder='username' />
            {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br />
        </div>

        <div class="row">
            <label class="control-label">pass</label>
            <input class="form-control" type="password" name="password" placeholder='password' />
            {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br />

        </div>

        <div class="row">
            <!--div class="col-xs-4 selectContainer"-->
            <label class="control-label">Users</label>
            <select class="form-control" name="genre">
                <option value="">Choose a genre</option>
                {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <!--/div-->
        </div>
        <!--
        <br>
          <p><input  class="btn btn-default" type="submit" value="Register" size="25"/></p>
          <button type="submit" class="btn btn-primary btn-large">Register</button>-->
        <!-- **************************************************************************************  -->
 
        <div class="row">
            <label class=" control-label" id="captchaOperation">Captcha</label>
            <input type="text" class="form-control" name="captcha" />

        </div>


        <div class="row">
            <div class=" col-xs-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="agree" value="agree" /> Agree with the terms and conditions
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <!--class="form-group">-->
            <div class="col-xs-9 col-xs-offset-3">
                <button type="submit" class="btn btn-primary btn-large" name="signup" value="Sign up">Register</button>
            </div>
        </div>
</form>




{% endblock %}
