{% extends "layout.html" %}

{% block content %}







<title>Upload new File</title>
<h1>Upload new File</h1>

<div class="form-group">
    <div class="row">
        <form action="" method=post enctype=multipart/form-data>
            <p>

                <div class="container" style="margin-top: 20px;">
                    <div class="row">
                        <div class="input-group">
                            <span>
                                <input style="display:inline-block;" class="btn btn-file btn-large " type=file name=file>
                            </span>
                            <span>
                                <input style="display:inline-block;" class="btn btn-primary btn-large" type=submit value=Upload>
                            </span>
                        </div>
                    </div>
                </div>
                <!--
        <label class="control-label">Select File</label>
        <input id="input-1" type="file" class="file"> -->

        </form>
    </div>
</div>
    <!-------------------------------------list img--------------------------------->

    <div class="list-group">
        <ul>


            {% for img in listdir %}

            <li class="list-group-item">

                <p class="list-group-item-text">
                    <a href="{{ dirname }}{{ img }}">
                        <img src="{{ dirname }}{{ img }}" width="100">
                        <!-- <img  src="/static/images/an.png" alt="OMG! Ubuntu!" height="85" title="Go to the home page">-->
                    </a>
                </p>
                <br />
                <h5 class="list-group-item-heading">File name : {{ img }} </h5>
                <!--
                <div class="container-right">
                    <span class="badge ">
                        <a href="#" style="color:white;">update</a>
                    </span>
                    <span class="badge">
                        <a href="#" style="color:white;">delete</a>
                    </span>
                </div>
                    -->
            </li>
            {% endfor %}
        </ul>
    </div>

    {% endblock %}



    {% block scripts %}
    <script type="text/javascript">
      
        $(document).on('change', '.btn-file :file', function() {
          var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready( function() {
            $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        }); 
      </script>
    {% endblock %}
